<link rel="icon" href="/resource/1513364560000/StudyGroupFavicon">
<link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/ce7f315f-8738-4f0f-a6c1-439e443fbbb2.css" />
<script src="https://use.fontawesome.com/c82455d3fe.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">


<style>
    
@media(max-width: 1191px) {
    .sgap-navigation.sticky + .mainContentArea .news-filters {
        right: 10px;
        position: fixed;
        top: 8px;
        z-index: 9150;
    }
}
    
    
.builder-component-container {
    background: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 6px;
}

.builder-component-container .fa {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 6px;
    margin-right: 5px;
}
    
/** Modals sit outside component context **/
.prioritised-modal .modal-body {
    padding:0;
}
    
.prioritised-modal .closeIcon, 
.prioritised-modal .closeIcon svg {
    width: .8em;
    height: .8em;
}
    
/** Generic button **/
a.btn-outline {
    display: inline-block;
    margin: 0 20px 20px 0;
    border: 2px solid #0099d8;
    padding: 14px 22px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    color: #32363f;
    text-decoration: none;
    transition: all .3s;
}

a.btn-outline:hover,
a.btn-outline:active {
    background: #f5f5f5;
}
    
.prioritised-modal .slds-button:focus {
    box-shadow: none;
    border: none;
}
    
/* All tracker pages (tracker, form, case) */
.tracker {
    font-size: 16px;
    font-family: HelveticaNeueW01-45Ligh,Arial,Helvetica,sans-serif;
}
  
.tracker h2{
    font-size: 2.6em !important;
    font-weight: normal !important;
}
    
.tracker .tracker-list,
.tracker .tracker-form
{
    padding-bottom:40px;
}
    
.tracker .header{
    color:#fff;
    background: #009adb;
}

.tracker .header p,
.tracker .header a{
    margin:0 !important;
}

.tracker .siteforceContentArea h1{
    font-size: 2.6em;
    margin:0 !important;
}

.tracker .stats{
    background: #eaeaea;
}
    
.tracker .stats .ui-widget{
    margin:0 !important;
}

.tracker .slds-cell-fixed {
    background: #32363f;
}

.tracker .listViewContent {
    padding-top: 50px;
    background: #32363f;
    height:auto !important;
}    
    
.tracker .slds-th__action {
    color: #fff !important;
    padding:25px 1rem;
}
    
.tracker .slds-table .slds-cell-edit {
    padding: 13px 15px;
}
    
.tracker .slds-table .slds-cell-edit.slds-has-focus {
	box-shadow: none !important;
    background:none !important;
}
    
.tracker .slds-th__action {
    color: #fff !important;
}

.tracker .slds-th__action:hover,
.tracker .slds-th__action:focus,
.tracker .slds-th__action:active,
.tracker .slds-cell-fixed:hover,
.tracker .slds-cell-fixed:focus,
.tracker .slds-cell-fixed:active {
   background: #32363f !important;
}

.tracker .slds-cell-edit:hover,
.tracker .slds-cell-edit:focus,
.tracker .slds-cell-edit:active{
    outline: 0 !important;
}
 
    
.tracker .uiInput--select.select[disabled], 
.tracker .uiInput--select .select[disabled], 
.tracker .uiInput--select .uiPopupTrigger a[aria-disabled="true"] {
	background-color: #EAEAEA;          
}
            
.tracker .tooltipIcon {
    color: #009adb;             
}
    
    .navigation ul li:last-child ul > li:last-child span::before{
            font-family: "Font Awesome 5 Free"; 
        	font-weight: 900; 
        	content: "\f05a";
            float: left;
            margin-right: 5px;
            line-height: 16px;
    }
    
    .navigation ul li:last-child ul li li:last-child span::before{
        	content: "";
    }
    
    @media only screen and (max-width: 767px) {
        .navigation ul.slds-list_vertical li:nth-last-child(2) span{
            padding-left:15px;
        }
        .navigation ul.slds-list_vertical li:nth-last-child(2) span::before{
             font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f05a";
            float: left;
            line-height: 16px;
        }
    }
    

    @media only screen and (min-width: 1192px) {
        .navigation ul li.slds-list__item:nth-last-child(2){
            position: absolute;
            right: 0;
        }

        .navigation ul li.slds-list__item:nth-last-child(2) span::before{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f05a";
            float: left;
            margin-right: 5px;
            line-height: 16px;
        }
    }
    

   
.tracker .toggle{
    position: relative;
}
    
.tracker .toggle::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dd";
    float: right;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}
    
.tracker .btn_tracker_lg.add_new::before {
    content: " ";
	background-image: url(/partnerCommunity/resource/1615340521000/SLDSIcons/utility/insert_template.svg);
    display:block;
    width:24px;
    height:24px;
    margin-right: 3px;
}
    
.uiMenuList--left.uiMenuList {
    width: 35% !important;
    padding: 0 !important;
}
    
.uiMenuList--default .select-options .uiMenuItem {
	border-bottom: 1px solid #efefef;
}
    
.uiMenuList--default .select-options .uiMenuItem > a {
    padding: 15px;
    font-family: "Work Sans";
    font-size: 18px;
}

.uiMenuList--default .select-options .uiMenuItem:first-child > a {
    color: #b9b9b9;
}
    
.uiMenuList--default .select-options .uiMenuItem > a:hover,
.uiMenuList--default .select-options .uiMenuItem > a:focus,
.uiMenuList--default .select-options .uiMenuItem > a:hover
{
	background-color: #fafaf9;
}
    
.uiMenuList--default .select-options a b {
    display:none !important;
}

.slds-breadcrumb {
    font-family: var(--lwc-fontFamily,Work Sans) !important;
}
    
.slds-breadcrumb,
.slds-breadcrumb li{
    padding: 0 !important;
    margin: 0 !important;
}
    
.slds-breadcrumb .slds-breadcrumb__item:fist-child{
    margin-right: 10px !important;
}
    
.slds-breadcrumb .slds-list__item:first-child > a, 
.slds-breadcrumb .slds-breadcrumb__item:first-child > a{
    margin-right: 10px !important;
}
    
.slds-breadcrumb .slds-list__item::before, 
.slds-breadcrumb .slds-breadcrumb__item::before
    {
    display:none;
}

.slds-breadcrumb .slds-breadcrumb__item a:hover{
	text-decoration: underline !important;
    color:#fff;
}
    
.slds-breadcrumb .slds-breadcrumb__item:last-child a{
    pointer-events: none;
}

.slds-breadcrumb .slds-list__item > a, 
.slds-breadcrumb .slds-breadcrumb__item > a{
    color: #fff;
}

.slds-breadcrumb .slds-list__item::before, 
.slds-breadcrumb .slds-breadcrumb__item::before{
    font-size:1.1em;
    text-align: left !important;
}
    
.slds-breadcrumb .slds-list__item::before, 
.slds-breadcrumb .slds-breadcrumb__item::before {
    margin: 0 !important;
}
    
.slds-breadcrumb .slds-list__item:last-child a::before{
	padding: 0;
    padding-left: 10px;
}
        
.slds-breadcrumb .slds-breadcrumb__item a::after{
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: absolute;
    top: -1px;
    margin-left: 10px;
}   

.slds-breadcrumb .slds-list__item:last-child > a::after, 
.slds-breadcrumb .slds-breadcrumb__item:last-child > a::after{
	display:none;
}
    
.uiTooltipAdvanced .tooltip-body {
    background-color: #f4f5f5 !important;
    color: #333 !important;
    font-size: initial !important;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    -webkit-box-shadow: 0px 9px 12px -5px rgb(122 122 122 / 31%);
    -moz-box-shadow: 0px 9px 12px -5px rgba(122,122,122,0.31);
    box-shadow: 0px 9px 12px -5px rgb(122 122 122 / 31%);
}
.uiTooltipAdvanced .pointer {
    border-top: 13px solid #f4f5f5 !important;
} 
    
.tracker .slds-popover_tooltip .slds-popover__body, .slds-popover--tooltip .slds-popover__body {
    background-color: #f4f5f5;
    color: #333;
    font-size: initial;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    -webkit-box-shadow: 0px 9px 12px -5px rgb(122 122 122 / 31%);
    -moz-box-shadow: 0px 9px 12px -5px rgba(122,122,122,0.31);
    box-shadow: 0px 9px 12px -5px rgb(122 122 122 / 31%); 
}
    
.tracker .slds-nubbin_top-left::before, 
.tracker .slds-nubbin--top-left::before, 
.tracker .slds-nubbin_top-left-corner::before {
    background-color: #f4f5f5;
}
    
.siteforcePanelsContainer .listViewPickerPanel {
    margin-left: 10px;    
}    
    
.siteforcePanelsContainer .uiPanel .container {
  	width: 268px;
    padding: 0;      
}
  
.siteforcePanelsContainer .uiPanel .container ul li a{
  	padding: 15px;
    font-family: Roboto,"Helvetica Neue",sans-serif; 
}    

.siteforcePanelsContainer .uiPanel .container ul li{
    border-bottom: 1px solid #efefef;
}    
    
.siteforcePanelsContainer .uiPanel .container ul li:first-child,
.siteforcePanelsContainer .uiPanel .container ul li:nth-child(2),
.siteforcePanelsContainer .uiPanel .container ul li:nth-child(3),
.siteforcePanelsContainer .uiPanel .container ul li:last-child,
.siteforcePanelsContainer .uiPanel .container ul li:nth-last-child(2) {
    display:none;   
}
    
.siteforcePanelsContainer .uiPanel .container ul li.highlighted a,
.siteforcePanelsContainer .uiPanel .container ul li a:hover,
.siteforcePanelsContainer .uiPanel .container ul li.highlighted a:hover,
.siteforcePanelsContainer .uiPanel .container ul li a:focus,
.siteforcePanelsContainer .uiPanel .container ul li.highlighted a:focus
.siteforcePanelsContainer .uiPanel .container ul li a:visited,
.siteforcePanelsContainer .uiPanel .container ul li.highlighted a:visited{
  	background-color: #fafaf9 !important;
}  
    
.siteforcePanelsContainer .uiScroller ul li .slds-icon--selected{
  	display:none !important;    
}    
    
.forceVirtualAutocompleteMenu.hideInput{
    width: 100% !important;     
}

.siteforcePanelsContainer .slds-text-heading--label {
    display:none;    
}  
    
@media (max-width: 991px) {
    .tracker .slds-section .container,
    .tracker .forceCommunityContactSupportForm .slds-truncate span,
    .uiMenuList--left.uiMenuList
    {
    	width: 100%;
    }
}
</style>