/** SASS Customer Self Service styles **/

/* Page Specific */
/*
.THIS .article-details .slds-main-content{
	position: relative;
}

.THIS .article-details .header .comm-layout-column{
	padding: 35px 0 !important;
}

.THIS .article-details .container .forceCommunityRecordDetail .slds-form > .slds-grid{
	display: initial;
}
*/

.THIS .article-details div[data-region-name=content] .ui-widget{
    background: #fff;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column{
	padding: 0;
    background: rgb(240, 240, 240);
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .summary h1{
	font-size: 36px;
    margin-top: 15px !important;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .summary p.selfServiceArticleHeaderDetail{
	display: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .summary div.selfServiceArticleHeaderDetail{
	margin-bottom: 15px;
    font-size: 14px;
    margin-top: 5px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .summary div.selfServiceArticleHeaderDetail .timestamp-icon{
	display: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .summary .selfServiceArticleHeaderDetail > span{
	display: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .summary .selfServiceArticleHeaderDetail span.date{
	display: block;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section{
	display: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section:nth-child(2){
	display: block;
    margin:0;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow{
    padding: 20px;
    margin:0;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow .slds-form-element{
    border-bottom: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow .slds-form-element__label {
    margin-bottom: 15px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow .slds-form-element .itemBody{
    padding: 0;
    padding-left: 26px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow .test-id__field-label{
    font-weight: normal;
    font-size: 24px;
    display: block;
    line-height: 21px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow:first-child{
	background: #009adb;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow:first-child .test-id__field-label,
.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow:first-child .slds-rich-text-editor__output{
	color: #fff;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow .test-id__field-label::before {
    content: '';
    display: block;
	width: 21px;
    height: 21px;
    float: left;
    margin-right: 5px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow:first-child .test-id__field-label::before {
    background-image: url(/partnerCommunity/resource/1617928612000/SLDSIcons/utility/question_feed.svg);
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow:last-child .test-id__field-label::before {
    background-image: url(/partnerCommunity/resource/1617928612000/SLDSIcons/utility/answer.svg);
}

.THIS .article-details div[data-region-name=content] .ui-widget .article-column .content .test-id__section .forcePageBlockSectionRow:last-child{
    background: #fff;
}

.THIS .article-details div[data-region-name=content] .ui-widget .selfServiceArticleTopicList{
	display: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting {
	margin: 0;
    padding: 20px;
    overflow: hidden;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card {
	border-top: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div {
	padding: 0;
    float: right;
    width: 270px;
    margin-top: 20px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div .slds-media__body{
	font-size: 14px;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div .slds-card__body:first-child{
    margin: 0;
    float: left;
    margin-right: 15px;
    line-height: 32px
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div .slds-card__body:last-child{
    float: none;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div .slds-card__body:last-child .slds-clearfix{
    margin: 0;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div .slds-card__body:last-child .slds-clearfix button{
    border: 1px solid rgb(223, 234, 240);
    font-size: inherit;
    padding: 0;
    color: rgb(107, 109, 112);
    background: initial;
    border-radius: inherit;
}

.THIS .article-details div[data-region-name=content] .ui-widget .voting .slds-card > div .slds-card__body:last-child .slds-clearfix div[aria-live=assertive]{
    line-height: 32px;
    padding-top: 0;
}

.THIS .article-details .footer-top {
    display:none;
}
