/* Page Specific */

/*
.THIS .topic-details .slds-main-content{
	position: relative;
}

.THIS .topic-details .header .comm-layout-column{
	padding: 35px 0 !important;
}

.THIS .topic-details .container .forceCommunityRecordDetail .slds-form > .slds-grid{
	display: initial;
}
*/