/** SASS Customer Self Service styles **/

/* Page Specific */
.THIS .tracker-list{
	background: #ffffff;
}

.THIS .tracker-list .header .comm-layout-column{
	padding: 50px 0 !important;
}

.THIS .tracker-list .stats{
    color: #7b7b7b;
    font-family: "HelveticaNeueW01-Thin" !important;
}

.THIS .tracker-list .stats .slds-col--padded{
	padding: 20px 0;
}

.THIS .tracker-list .stats ul{
	font-size: 1.6em !important;
    font-weight: normal;
    line-height: 58px;
    margin: 0;  
    padding:0;
}

.THIS .tracker-list .stats ul li{
    padding: 0;
    margin-right: 13px; 
}

.THIS .tracker-list .stats ul li span{
    margin-left: 13px;
}

.THIS .tracker-list .stats ul li:before{
    display:none;
}

.THIS .tracker-list .btn_tracker_lg {
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 1.1em;
}

.THIS .tracker-list .btn_tracker_lg.add_new {
    background: #00597c;
	border: 2px solid #00597c;
}

.THIS .tracker-list .btn_tracker_lg.add_new a{
    color: inherit;
}

.THIS .tracker-list .btn_tracker_lg.add_new a:hover{
    text-decoration: none;
}


.THIS .tracker-list .content-top .comm-layout-column,
.THIS .tracker-list .content .comm-layout-column,
.THIS .tracker-list .content-bottom .comm-layout-column{
    padding: 0 !important;
}

.THIS .tracker-list .slds-main-content {
    background: none;
}

.THIS .tracker-list .slds-main-content .ui-widget{
    margin-bottom: 0 !important;
}

.THIS .tracker-list .slds-main-content .ui-widget h2{
    margin-bottom: 0 !important;
}

.THIS .tracker-list .slds-main-content .slds-page-header_bleed{
	padding-top: 0;
}

.THIS .tracker-list .slds-main-content .slds-page-header .slds-grid:first-child{
    display: block;
    float: right;
}

.THIS .tracker-list .slds-main-content .slds-page-header .slds-grid:last-child{
    margin-bottom: 10px;
}

.THIS .tracker-list .slds-main-content .slds-page-header .slds-grid .slds-text-body--small{
    margin:0;
    font-size: 14px;
}

.THIS .tracker-list .slds-main-content .slds-page-header .slds-m-right_small{
    display:none;
}

.THIS .tracker-list .slds-media__body .slds-page-header__title{
	margin: 0 !important;
    font-size: initial !important;
}

.THIS .tracker-list .slds-media__body .slds-page-header__title .triggerLink{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px 14px;
    width: 268px;
}

.THIS .tracker-list .slds-main-content .triggerLinkTextAndIconWrapper {
	line-height: 32px;
}

.THIS .tracker-list .slds-main-content .downIcon{
	line-height: 54px;
    display: block;
    margin: 0;
}

.THIS .tracker-list .slds-main-content .keyboardMode--trigger{
	display:none;
}

/*
.THIS .tracker-list .slds-main-content .comm-layout-column > .siteforceDesignTimeRegion .ui-widget:last-child{
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
}
*/

.THIS .tracker-list .test-listViewSettingsMenu,
.THIS .tracker-list .forceRefreshButton{
    display:none
}

.THIS .tracker-list .forceListViewManagerHeader{
	margin-top: -10px;
}

.THIS .tracker-list .forceListViewManagerHeader .slds-shrink{
	margin-right: 15px;
}

.THIS .tracker-list .forceListViewManagerHeader .slds-col:last-child{
	display:none;
}


.THIS .tracker-list .search-in-list,
.THIS .tracker-list .slds-align-bottom .slds-m-left_xx-small{
    margin: 0;
    border-radius: 6px;
    overflow: visible;
    width: auto;
}

.THIS .tracker-list .slds-align-bottom .slds-m-left_xx-small .slds-button-group{
    margin-left: 0;
}

.THIS .tracker-list .search-in-list .slds-input{
    width: auto;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    border-radius: 0;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.THIS .tracker-list .listDisplays {
    /* height:initial; */
    /* min-height: auto !important; */
}

.THIS .tracker-list .listDisplays .listViewContainer{
    height:initial;
    min-height: auto !important;
}

.THIS .tracker-list .listDisplays .listViewContainer .listViewContent{
    min-height: auto;
}

/*
.THIS .tracker-list .forceCommunityRecordListDesktop.forceListViewManager .listDisplays {
    min-height: auto;
}
*/

.THIS .tracker-list .scroller-wrapper {
    background: #fff;
}

.THIS .tracker-list .slds-table--header-fixed {
    width: 100% !important;
    /*height: 100px;*/
}

.THIS .tracker-list .slds-resizable__divider::after {
    opacity: inherit;
    background-color: #d4d4d4;
}


/*
.THIS .tracker-list th.errorColumnHeader,
.THIS .tracker-list th.actionColumnHeader,
.THIS .tracker-list .slds-table tbody tr td:first-child,
.THIS .tracker-list .slds-table tbody tr td:last-child{
    display: none;
}
*/

.THIS .tracker-list .slds-table tbody tr:nth-child(even) {
    background: #fafaf9 !important;
}

.THIS .tracker-list .cellContainer:nth-last-child(4) .outputLookupLink {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: #222222;
    border-bottom: none;
}

.THIS .tracker-list .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus), 
.THIS .tracker-list .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus), 
.THIS .tracker-list .slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus > td:not(.slds-has-focus), 
.THIS .tracker-list .slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus > th:not(.slds-has-focus), 
.THIS .tracker-list .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus), 
.THIS .tracker-list .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus), 
.THIS .tracker-list .slds-table--bordered:not(.slds-no-row-hover) tbody tr:focus > td:not(.slds-has-focus), 
.THIS .tracker-list .slds-table--bordered:not(.slds-no-row-hover) tbody tr:focus > th:not(.slds-has-focus) {
    box-shadow: none;
    background: none;
}


.THIS .tracker-list .forceListViewManagerGrid .slds-has-focus.slds-is-resizable .slds-th__action, 
.THIS .tracker-list .forceListViewManagerGrid .slds-has-focus.slds-is-resizable .slds-th__action:focus, 
.THIS .tracker-list .forceListViewManagerGrid .slds-has-focus.slds-is-resizable .slds-th__action:hover, 
.THIS .tracker-list .forceListViewManagerGrid .slds-has-focus.slds-is-resizable .slds-th__action:focus:hover, 
.THIS .tracker-list .forceListViewManagerGrid .slds-no-cell-focus .slds-has-focus.slds-is-resizable:hover 
.THIS .tracker-list .slds-th__action, 
.THIS .tracker-list .forceListViewManagerGrid .slds-is-resizable .slds-th__action:focus, 
.THIS .tracker-list .forceListViewManagerGrid .slds-is-resizable .slds-th__action:hover, 
.THIS .tracker-list .forceListViewManagerGrid .slds-is-resizable .slds-th__action:focus:hover {
	background: #32363f;
}

.THIS .tracker-list .slds-table--header-fixed thead th:nth-child(2),
.THIS .tracker-list .slds-table--header-fixed thead th:nth-child(2) > .slds-cell-fixed
{
    width: 160px !important;
}

/*
.THIS .tracker-list .slds-table--header-fixed thead th:nth-last-child(3),
.THIS .tracker-list .slds-table tbody tr td:nth-last-child(3)
{
    display:none;
}
*/

.THIS .tracker-list .slds-table tbody {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.THIS .tracker-list .slds-table--header-fixed thead th:nth-last-child(2) .slds-resizable__divider {
    display:none;
}

.THIS .tracker-list th.sortable a.toggle::after {
    display:none;
}

.THIS .tracker-list .slds-table .slds-cell-edit:first-child,
.THIS .tracker-list .slds-table .slds-cell-edit:last-child{
    display:none;
}

/*
.THIS .tracker-list .slds-table th:nth-child(2) {
    width:auto !important;
}

.THIS .tracker-list .slds-table th:nth-child(2) .slds-cell-fixed{
    min-width:170px;
}
*/

.THIS .tracker-list .slds-table th:first-child,
.THIS .tracker-list .slds-table th:last-child{
    display:none;
}

.THIS .tracker-list .slds-table th:nth-last-child(2) .slds-resizable{
    display:none;
}

.THIS .tracker-list .slds-table th span.slds-truncate {
    font-weight:normal !important;
}

        
@media (max-width: 991px) {
    .THIS .tracker-list .slds-main-content .ui-widget:first-child {
    	display:none;
	}
	.THIS .tracker-list .btn_tracker_lg.add_new {
        float: none;
    	width: 100%; 
	}   
    
	.THIS .tracker-list .stats .container > div{
    	position: relative;
    	padding-top: 80px;
	}
    
    .THIS .tracker-list .stats .container .ui-widget {
    	width: 100%;
	}
    
    .THIS .tracker-list .stats .container .ui-widget ul {
    	font-weight: normal;
        margin: 0;
        float: none;
        justify-content: center;
        line-height: initial !important;
	}
    
    .THIS .tracker-list .stats .container .ui-widget ul li {
        margin-right: 5px;
	}
    
    .THIS .tracker-list .stats .container .ui-widget ul li span {
        margin-left: 5px;
	}
    
   	.THIS .tracker-list .stats .container .ui-widget:last-child{
		position: absolute;
    	top: 0;
	}
    .THIS .tracker-list .forceCommunityRecordListMobile .forceCommunityActionsContainerMobile {
        display:none; 
    }
    .THIS .tracker-list .forceCommunityRecordListMobile .forceFilterListDeprecated .bLeft{
        display:none; 
    }
    .THIS .tracker-list .forceCommunityRecordListMobile .forceFilterListDeprecated .footer a.link{
    	display:none; 
	}
    .THIS .tracker-list .forceCommunityRecordListMobile .forceFilterListDeprecated .bBody h2 {
    	margin:0 !important;
        padding:0 !important;
	}
    .THIS .tracker-list .forceCommunityRecordListMobile .listContent,
    .THIS .tracker-list .forceCommunityRecordListMobile .forceFilterListDeprecated .uiMenu{
        font-family: Roboto, "Helvetica Neue", sans-serif
    }
    .THIS .tracker-list .forceCommunityRecordListMobile .listContent ul .uiInfiniteListRow .body {
        border-bottom: none;
    }
    .THIS .tracker-list .forceCommunityRecordListMobile .listContent h2.itemTitle{
        margin:0!important;
        color: #0099D8;
    }
    .THIS .tracker-list .forceCommunityRecordListMobile .listContent .itemRows .outputLookupLink{
        pointer-events:none;
        color: inherit;
        border-bottom:none;
    }
    .THIS .tracker-list .forceCommunityRecordListMobile .listContent a.listItem,
    .THIS .tracker-list .forceCommunityRecordListMobile .forceFilterListDeprecated .bBody .triggerLink:hover,
    .THIS .tracker-list .forceCommunityRecordListMobile .forceFilterListDeprecated .bBody .triggerLink:focus{
        text-decoration: none;
        
    }
    
    
    
    
    
    
}