/** SASS Customer Self Service styles **/

/* Page Specific */
.THIS .tracker-case .slds-main-content{
	position: relative;
}

.THIS .tracker-case .container .forceCommunityRecordDetail:last-child .slds-form .slds-grid:last-child {
}


.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form > 
.slds-grid:last-child > .slds-grid:last-child 
{
	display:none;
}

.THIS .tracker-case .tooltipIcon {
    display:none;
}

.THIS .tracker-case .slds-main-content .ui-widget:first-child{
    margin-bottom: 10px;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child{
    margin-bottom: 20px;
    width: 50%;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .outputLookupLink{
    color: #222222;
    border: none;
    pointer-events: none;
    cursor: auto;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer{
	padding: 0;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop{
	border: 0;
    padding: 20px;
    background: #f4f5f5;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header{
	background: none;
    border: 0;
    padding: 0 !important;
    margin-bottom: 20px !important;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-media__figure {
    display:none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .actionsContainer ul.branding-actions{
	margin: 0;
    font-size: 14px;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .actionsContainer ul.branding-actions li{
	border: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .actionsContainer ul.branding-actions li a{
    border: 2px solid #0099d8;
    background: #fff;
    padding: 4px 8px;
    border-radius: 5px;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .actionsContainer ul.branding-actions li a:hover{
    text-decoration:underline;
    color: #00638c;
}


.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2{
    padding: 0;
    font-size: 24px;
}


.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.slds-page-header h2 .baseCard__header-title-container{
    pointer-events:none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2 a:hover{
	border:none;
}

/*
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2 a .slds-truncate{
    color: #5A5A5A;
}
*/

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2 a .slds-shrink-none{
	display: none;
}

/*
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .slds-no-flex,
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .slds-avatar{
	display: none;
}
*/

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix thead th:nth-child(2),
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix thead th:nth-child(3),
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix tbody td:nth-child(2),
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix tbody td:nth-child(3)
{
    display: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix thead th,
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix tbody td{
    height: 3rem;
    border-bottom: 1px solid rgb(233 234 236);
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix tbody th{
    border-bottom: 1px solid rgb(233 234 236);
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix tbody tr:hover th,
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .useHeaderBarFix tbody tr:hover td{
    background-color:#fff;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-card__footer{
	margin: 0;
    border: 0;
    display: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceContentRelatedListPreviewFileList{
	border: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceContentVirtualRelatedListStencil{
	padding: 0;
    width: 100%;
    background-color: transparent !important;
    border-bottom: 1px solid #d9dbdd;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceContentVirtualRelatedListStencil:last-child
{
    border-bottom: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .filerow{
	overflow: hidden;
    padding: 10px 0;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate{
	overflow: initial;
}

/*
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate .itemTitle{
	font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}
*/

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate .itemTitle:hover{
	text-decoration: underline;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate .secondaryFields span,
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate .secondaryFields span::after{
	display:none;
    font-size: 14px;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate .secondaryFields span:first-child{
	display:block;
}

.THIS .tracker-case .slds-main-content .forceContentRelatedListPreviewFileList .drag-over-body .lightningInput
{
	display:none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:nth-last-child(3) .slds-form > .slds-grid {
	display: flex !important;
}

/*
.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .forcePageBlockItem{
    margin: 0 0 20px 0 !important;
}
*/

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .forcePageBlockItem .override--slds-form-element{
    border-bottom: 1px solid rgb(233 234 236);
}

/*
.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .slds-form-element_edit{
    padding-bottom: 10px;
    border-bottom: 1px solid #e9eaec;
}
*/

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .slds-form-element__label{
    padding: 0;
    line-height: 26px;
    font-size: 24px;
    color: inherit;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .itemBody{
	padding: 10px 0;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .itemBody .slds-form-element__static {
    font-size: 14px;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .itemBody .slds-form-element__static .uiOutputTextArea{
	text-transform: capitalize;
}

/*
.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .itemBody .slds-form-element__static .uiOutputTextArea{
    line-height: 1.6em;
}
*/

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .blank-item{
	display: none;
}

.THIS .tracker-case .has-tooltip{
	margin:0 !important;
}

.THIS .tracker-case .test-id__record-layout-container {
	position: relative;
}

.THIS .tracker-case .forcePageBlock {
	width: 78%;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:first-child {
	display: none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection h3 {
    font-size: 2em;
    display:none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection button {
    pointer-events: none;
    display:none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection .section-icon {
    display: none;
}


.THIS .tracker-case .slds-section.slds-is-open .slds-section__content {
	padding:0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child{
	position: absolute;
    top: 0;
    right: 0;
    background: #f4f5f5;
    width: 20%;
    margin-top:0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child  .slds-form > .slds-grid{
	display: initial;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child h3{
	display:none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form-element__static{
    font-size: var(--lwc-inputStaticFontSize,0.8125rem);
}
        
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form-element__static 
.outputLookupContainer{
    float: left;
    display: block;
}
        
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form-element__static 
.outputLookupContainer .photoContainer{
	display: none;
}
        
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form-element__static 
span.forceOutputModStampWithPreview{
	display: initial;
}

/*
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .test-id__section-content .forcePageBlockSectionRow:last-child,
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:nth-last-child(2) .test-id__section-content .forcePageBlockSectionRow:last-child{
	display:none;
}
*/

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid{
	padding: 0;
    margin: 5px 0 !important;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid .forceOutputOwnerIdLookupWithChangeLink{
	display: block;
    width: 100%;
    padding: 0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid .slds-form-element_readonly{
        border-bottom: none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form {
	padding: 20px;
}
        
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child a{
	color: #222222;
    border: none;
    pointer-events: none;
    cursor: auto;
}

        /*
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid .slds-form-element_readonly a.outputLookupLink {
  	pointer-events: none;          
}
        */
        
.THIS .tracker-case .activity .entityLinkHover a.cuf-actorLink,
.THIS .tracker-case .activity .entityLinkHover a.cuf-entityLink,
.cTrackerViewDetailsLayout .tracker-case .activity .cuf-feedItem a.cuf-timestamp{
        pointer-events: none;
    	text-decoration:none;
}

/*
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid:last-child{
	display: none;
}


.THIS .tracker-case .test-id__section-content .forcePageBlockSectionRow:last-child{
	display:none !important;
}
*/

.THIS .tracker-case .slds-page-header {
    height: auto !important;
    margin: 0 !important;
    border: none;
    padding: 0 !important;
    padding-top: 10px !important;
}

.THIS .tracker-case .slds-page-header ul.branding-actions li{
    border: none;
}

/*
.THIS .tracker-case .slds-page-header ul.branding-actions li a{
	padding: 8px 20px;
    border-radius: 40px;
}
*/

.THIS .tracker-case .slds-page-header ul.branding-actions li a:hover{
	background:none;
}

.THIS .tracker-case .slds-page-header .primaryFieldRow {
	display: none;
}

.THIS .tracker-case .slds-page-header ul.slds-form {
	background: none;
    padding:0;
    margin: 0;
    font-family: "HelveticaNeueW01-Thin" !important;
    display: flex;
}



.THIS .tracker-case .slds-page-header ul.slds-form li {
	padding:0;
    overflow: visible;
}

.THIS .tracker-case .slds-page-header ul.slds-form li:nth-child(2) .slds-form-element__static span{
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    background: #005779;
}

.THIS .tracker-case .slds-page-header ul.slds-form li:first-child .slds-form-element__static span{
	font-size: 36px;
    line-height: initial;
    font-weight: normal;
    font-family: "HelveticaNeueW01-Thin" !important;
    vertical-align: bottom;
}

/*
.THIS .tracker-case .slds-page-header ul.slds-form li:first-child {
    display: none;
}

*/

.THIS .tracker-case .slds-page-header ul.slds-form li:nth-last-child(2),
.THIS .tracker-case .slds-page-header ul.slds-form li:last-child{
	display:none;
}

.THIS .tracker-case .slds-page-header ul.slds-form li:nth-last-child(2) .slds-form-element__control span {
	font-size: 1.4em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.THIS .tracker-case .slds-page-header ul.slds-form li .slds-form-element > span{
	display: none;
}

.THIS .tracker-case .slds-page-header ul.slds-form li .slds-form-element__static {
    overflow: visible;
    font-size: 14px;        
}

/*
.THIS .tracker-case .slds-page-header ul.slds-form li .uiOutputText {
    font-size: 3em;
}
*/

.THIS .tracker-case .activity {
    background: #ffffff;
    padding-bottom:40px;
}

.THIS .tracker-case .activity .ui-widget h2{
    z-index:9999;
    margin-bottom: 0 !important;
}
        
.THIS .tracker-case .activity .ui-widget h2 a{
    pointer-events:none;
}
        
 .THIS .tracker-case .activity .ui-widget h2 .slds-shrink-none{
    display:none;
}

/*
.THIS .tracker-case .activity .feedActions {
    display: flow-root;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter{
    float: right;
    font-size: 0.9em;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter .feeds-sorter-trigger{
   	background: #fafaf9;
    padding: 20px;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter .feeds-sorter-trigger input{
    cursor: pointer;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter label{
   display: none;
}

.THIS .tracker-case .activity .feedActions .right-actions{
   display: none;
}

.THIS .tracker-case .activity .cuf-feedItem {
    color: #fff;
    background: #009adb;
    padding: 20px;
}
        
.THIS .tracker-case .activity .cuf-feedItem .cuf-body,
.THIS .tracker-case .activity .cuf-feedItem .forceChatterFeedAuxBody{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}


.THIS .tracker-case .activity .forceChatterStyle,
.THIS .tracker-case .activity .slds-text-body--small{
   	font-size: initial;  
}

.THIS .tracker-case .activity .cuf-feedItem .cuf-feedItemHeader .cuf-preamble{
	font-size: 1.3em;
}

.THIS .tracker-case .activity .cuf-feedItem .cuf-feedItemHeader .cuf-preamble p{
	margin-bottom:0;
}

.THIS .tracker-case .activity .cuf-feedItem a,
.THIS .tracker-case .activity .cuf-feedItem span.uiOutputText {
    color: #fff;
    border:none;
}

.THIS .tracker-case .activity .cuf-feedItem .entityLinkHover{
    border:none;
}


.THIS .tracker-case .activity .cuf-feedItem .forceChatterFeedAuxBody{
    margin-bottom:0;
}

.THIS .tracker-case .activity .cuf-feedItem .cuf-media-right{
    display:none;
}

.THIS .tracker-case .activity .cuf-feedItem .slds-post__footer{
    display:none;
}

        
.THIS .tracker-case .activity .cuf-feedItem .slds-post__footer{
    display:none;
}
*/     
                
.THIS .tracker-case .activity .forceRelatedListSingleContainer{
    padding: 0;
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer li a{
	font-size: 14px;
    color:#fff;
    background: #0099d8;
    border: 2px solid #0099d8;
    padding: 4px 8px;
    border-radius: 5px;        
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer li a:hover{
	text-decoration: underline;  
    color:#fff;
    background: #0099d8 !important;
    border: 2px solid #0099d8;
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer li a div[title]{
    display:none;
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer li a::after{
    content: 'New Comment';
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer li a::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f075";
    margin-right: 5px;
}
     
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListCardDesktop{
    border: none;
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-card__footer{
    display:none;
}

.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceRelatedListCardHeader{
    background: none;
    border:none;
}

.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-media__figure{
	display:none;
}

/*
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-no-flex{
	display: none;
}
*/

.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .listViewContent {
	margin-top: 10px;
}
 
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead {
	background: #32363f;  
}        
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead th {
	padding: 0 25px;
    height: 3rem;
    font-weight:normal;
    background: none; 
    color:#fff;
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead th,
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody th,
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody td{
	border-right: 1px solid rgb(233 234 236);
}
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead th:nth-last-child(2),
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody th:nth-last-child(2),
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody td:nth-last-child(2){
	border-right: none;
}

.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead th:first-child {
	/* padding-left: 1rem; */
}  
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody a{
    color: #222222;
    border: none;
    pointer-events: none;
    cursor: auto;
}
 
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody tr:hover,
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody tr:hover th,
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody tr:hover td{
	background: none;
}  
        
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody tr:nth-child(even){
	background: #fafaf9;
}
            
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody td {
	padding: 13px 25px;
}

.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead th:nth-child(2),
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView thead th.actionColumnHeader,
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody td:nth-child(2),
.THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListPreview .forceRelatedListPreviewGrid.forceBaseListView tbody td:last-child{
	display:none;
}

.THIS .tracker-case .activity .inputTextContainer {
    padding: 0;
    width: 100%;
}
        
.THIS .tracker-case .activity .inputTextContainer .textarea {
    max-height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    padding: 20px;
    line-height: 1.125 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 160px;
    box-shadow: none;
}
        
.THIS .tracker-case .activity .inputTextContainer .form-element__label {
	display: none;
    margin: 0;
}
        
.THIS .tracker-case .activity .attachmentsList,
.THIS .tracker-case .activity .uploadFileContainer,
.THIS .tracker-case .activity .mobileUploadFileLabel
{
	display: none;
    margin: 0;
}
        
.THIS .tracker-case .activity .postButtonContainer
{
    padding: 0;
    margin-top: 20px;
}

        /*
.THIS .tracker-case .activity .postButtonContainer button {
	border-radius: 40px;
    font-size: 1.1em;
    font-family: "HelveticaNeueW01-Thin"!important;
    background: #00597c;
    border: 2px solid #00597c;
    padding: 10px 20px;
    margin: 0;
    line-height: 30px;
}
        */

@media (max-width: 991px) {
    .THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child {
        position: relative;
        width: 100%;
	}
    .THIS .tracker-case .slds-main-content .ui-widget:first-child{
    	margin: 0;
    	margin-bottom: 10px;
    	margin-top: 15px;
	}
    .THIS .tracker-case .slds-main-content .ui-widget:first-child .header{
    	background: none;
    	padding: 0;
	}
    .THIS .tracker-case .slds-main-content .forceHighlightsPanel .profilePicWrapper{
    	display:none;
	}
    .THIS .tracker-case .slds-main-content .ui-widget:first-child .header .fieldWrapper{
    	padding: 0;
        display: contents;        
	}       
     .THIS .tracker-case .slds-main-content .forceHighlightsPanel .fieldWrapper h1 > div{
    	display:none;
	}
    
    .THIS .tracker-case .container .forceCommunityRecordDetail .slds-form>.slds-grid .forcePageBlockItem .override--slds-form-element {
    	border-bottom: none;
	}   
    
    .THIS .tracker-case .slds-main-content ul{
    	margin: 0 !important;
	}
            
    .THIS .tracker-case .slds-main-content .forceHighlightsPanel .fieldWrapper h2{
    	margin: 0 !important;
        width: 100%;
	}
    .THIS .tracker-case .slds-main-content .forceHighlightsPanel .fieldWrapper h2 ul {
    	display: block;
	}
    .THIS .tracker-case .slds-main-content .forceHighlightsPanel .fieldWrapper h2 ul li:nth-last-child(2) span{
    	vertical-align: top;
    	padding: 10px 14px;
    	background: #009adb;
    	border-radius: 40px;
    	color: #fff;
    	font-size: 14px;
    	margin-left: 10px;
	}
    .THIS .tracker-case .slds-main-content .forceHighlightsPanel .fieldWrapper h2 ul li:nth-last-child(2)::before{
    	display:none;
	}
    .THIS .tracker-case .slds-main-content .forceHighlightsPanel .fieldWrapper h2 ul li:last-child{
    	display:none;
	}
    .THIS .tracker-case .forcePageBlock,
    .THIS .tracker-case .slds-main-content .ui-widget:last-child{
    	width: 100%;
	}
    .THIS .tracker-case .slds-main-content .forceCommunityActionsContainerMobile {
    	display:none;
	}
            
    .THIS .tracker-case .container .forceCommunityRecordDetail .slds-form>.slds-grid .itemBody {
        padding: 0 !important;         
    }
    .THIS .tracker-case .container .forceCommunityRecordDetail .slds-form>.slds-grid,
    .THIS .tracker-case .container .forceCommunityRecordDetail .slds-form>.slds-grid .forcePageBlockItem {
        margin: 0 !important;         
    }
    .THIS .tracker-case .container .forceCommunityRecordDetail .slds-section:last-child .slds-form>.slds-grid .forcePageBlockItem {
        margin-bottom: 20px !important;         
    }
    .THIS .tracker-case .forceDetailPanelMobile.slds-card {
        margin: 0;
    	padding: 0;        
    }   
    .THIS .tracker-case .activity .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceRelatedListCardHeader {
        padding-bottom: 0 !important;        
    } 
    .THIS .tracker-case .activity {
        padding-top: 20px;   
        padding-bottom: 20px;   
    } 
    .THIS .tracker-case .activity .container {
    	padding-left: 0;
    	padding-right: 0; 
    } 
            
}