/** SASS Customer Self Service styles **/

/* Page Specific */
.THIS .tracker-case .slds-main-content{
	position: relative;
}

.THIS .tracker-case .header .comm-layout-column{
	padding: 35px 0 !important;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid{
	display: initial;
}

.THIS .tracker-case .container .forceCommunityRecordDetail:last-child .slds-form .slds-grid:last-child {
}


.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form > 
.slds-grid:last-child > .slds-grid:last-child 
{
	display:none;
}

.THIS .tracker-case .tooltipIcon {
    display:none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child{
	position: absolute;
    top: 440px;
    right: 0;
    width: 20%;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer{
	padding: 0;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop{
	border: 0;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header{
	background: none;
    border: 0;
    padding: 0 !important;
    /* margin-bottom: 20px !important; */
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2{
	font-size: 2em !important;
    font-weight: bold !important;
    font-size: 1.3em !important;
    padding: 0;
    margin: 0 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2 a:hover{
	border:none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2 a .slds-truncate{
	font-weight: bold;
    color: #5A5A5A;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header h2 a .slds-shrink-none{
	display: none;
}


.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .slds-no-flex,
.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-page-header .slds-avatar{
	display: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .slds-card__footer{
	margin: 0;
    border: 0;
    display: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceContentRelatedListPreviewFileList{
	border: none;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop .forceContentVirtualRelatedListStencil{
	padding: 0;
    width: 100%;
    padding-right: 20px;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .filerow{
	overflow: hidden;
}

.THIS .tracker-case .slds-main-content .ui-widget:last-child .forceRelatedListSingleContainer .forceRelatedListCardDesktop 
.forceContentVirtualRelatedListStencil .slds-show_inline-block.slds-truncate{
	overflow: initial;
    overflow: initial;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:nth-last-child(3) .slds-form > .slds-grid {
	display: flex !important;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .forcePageBlockItem{
    margin: 0 0 20px 0 !important;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .forcePageBlockItem .override--slds-form-element{
    border-bottom: 1px solid rgb(233 234 236);
}


.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .slds-form-element_edit{
    padding-bottom: 10px;
    border-bottom: 1px solid #e9eaec;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .slds-form-element__label{
    font-size: 1.3em;
    padding: 0;
    padding-bottom: 5px;
    font-weight: bold;
}

.THIS .tracker-case .container .forceCommunityRecordDetail .slds-form > .slds-grid .blank-item{
	display: none;
}

.THIS .tracker-case .has-tooltip{
	margin:0 !important;
}

.THIS .tracker-case .test-id__record-layout-container {
	position: relative;
}

.THIS .tracker-case .forcePageBlock {
	width: 78%;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:first-child {
	display: none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection h3 {
    font-size: 2em;
    display:none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection button {
    pointer-events: none;
    display:none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection .section-icon {
    display: none;
}


.THIS .tracker-case .slds-section.slds-is-open .slds-section__content {
	padding:0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child{
	position: absolute;
    top: 0;
    right: 0;
    background: #f4f5f5;
    width: 20%;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child h3{
	display:none;
}

/*
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .test-id__section-content .forcePageBlockSectionRow:last-child,
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:nth-last-child(2) .test-id__section-content .forcePageBlockSectionRow:last-child{
	display:none;
}
*/

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid{
	padding: 0;
    margin:0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid .forceOutputOwnerIdLookupWithChangeLink{
	display: block;
    width: 100%;
    padding: 0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid .slds-form-element_readonly{
        border-bottom: none;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form {
	padding: 20px;
    padding-bottom:0;
}

.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid .slds-form-element_readonly a.outputLookupLink,
.THIS .tracker-case .activity .entityLinkHover a.cuf-actorLink,
.THIS .tracker-case .activity .entityLinkHover a.cuf-entityLink,
.cTrackerViewDetailsLayout .tracker-case .activity .cuf-feedItem a.cuf-timestamp{
        pointer-events: none;
    	text-decoration:none;
}

/*
.THIS .tracker-case .forcePageBlock .forcePageBlockSection:last-child .slds-form .slds-grid:last-child{
	display: none;
}


.THIS .tracker-case .test-id__section-content .forcePageBlockSectionRow:last-child{
	display:none !important;
}
*/

.THIS .tracker-case .slds-page-header {
    height: auto !important;
    margin: 0 !important;
    border: none;
    padding: 0 !important;
    padding-top: 25px !important;
    margin:0 !important;
}


.THIS .tracker-case .slds-page-header .primaryFieldRow {
	display: none;
}

.THIS .tracker-case .slds-page-header ul.slds-form {
	background: none;
    padding:0;
    margin: 0;
    font-family: "HelveticaNeueW01-Thin" !important;
    display: flex;
}



.THIS .tracker-case .slds-page-header ul.slds-form li {
	padding:0;
    overflow: visible;
}

.THIS .tracker-case .slds-page-header ul.slds-form li:nth-child(2) .slds-form-element__static span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: bottom;
    padding: 10px;
    background: rgb(171 173 176);
    border-radius: 40px;
    color: #000;
}

.THIS .tracker-case .slds-page-header ul.slds-form li:first-child .slds-form-element__static span{
	font-size: 3em;
    line-height: initial;
    font-weight: normal;
    font-family: "HelveticaNeueW01-Thin" !important;
    vertical-align: bottom;
}

/*
.THIS .tracker-case .slds-page-header ul.slds-form li:first-child {
    display: none;
}

*/

.THIS .tracker-case .slds-page-header ul.slds-form li:nth-last-child(2),
.THIS .tracker-case .slds-page-header ul.slds-form li:last-child{
	display:none;
}

.THIS .tracker-case .slds-page-header ul.slds-form li:nth-last-child(2) .slds-form-element__control span {
	font-size: 1.4em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.THIS .tracker-case .slds-page-header ul.slds-form li .slds-form-element > span{
	display: none;
}

.THIS .tracker-case .slds-page-header ul.slds-form li .slds-form-element__static {
    overflow: visible;
}

.THIS .tracker-case .slds-page-header ul.slds-form li .uiOutputText {
    font-size: 3em;
}

.THIS .tracker-case .activity {
    background: #ffffff;
}

.THIS .tracker-case .activity .ui-widget:first-child h2{
    z-index:9999;
}

.THIS .tracker-case .activity .ui-widget:last-child{
    margin-top: -80px;
}

.THIS .tracker-case .activity .feedActions {
    display: flow-root;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter{
    float: right;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter .feeds-sorter-trigger{
   	background: #fafaf9;
    padding: 20px;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter .feeds-sorter-trigger input{
    cursor: pointer;
}

.THIS .tracker-case .activity .feedActions .feeds-sorter label{
   display: none;
}

.THIS .tracker-case .activity .feedActions .right-actions{
   display: none;
}

/*
.THIS .tracker-case .activity .feedActions .right-actions input{
    width: auto;
}

.THIS .tracker-case .activity .feedActions .right-actions .feeds-filter{
    padding: 0;
    margin: 0;
}

.THIS .tracker-case .activity .feedActions .right-actions .cuf-refresh{
    display: none;
}
*/

.THIS .tracker-case .activity .cuf-feedItem {
    color: #fff;
    background: #009adb;
    padding: 20px;
}

.THIS .tracker-case .activity .cuf-feedItem .cuf-feedItemHeader .cuf-preamble{
	font-size: 1.6em;
}

.THIS .tracker-case .activity .cuf-feedItem .cuf-feedItemHeader .cuf-preamble p{
	margin-bottom:0;
}

.THIS .tracker-case .activity .cuf-feedItem a,
.THIS .tracker-case .activity .cuf-feedItem span.uiOutputText {
    color: #fff;
    border:none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.THIS .tracker-case .activity .cuf-feedItem .entityLinkHover{
    border:none;
}


.THIS .tracker-case .activity .cuf-feedItem .forceChatterFeedAuxBody{
    margin-bottom:0;
}

.THIS .tracker-case .activity .cuf-feedItem .cuf-media-right{
    display:none;
}

.THIS .tracker-case .activity .cuf-feedItem .slds-post__footer{
    display:none;
}