/** SASS Customer Self Service styles **/

/* All tracker pages (tracker, form, case) */
.THIS h2{
    color: #7b7b7b;
    font-size: 2em;
    font-weight: normal;
}

.THIS .header{
    color:#fff;
    background: #009adb;
}

.THIS .header h1, 
.THIS .header p,
.THIS .header a{
    margin:0 !important;
}

.THIS .header h1{
    font-size: 3em;
}

.THIS .stats{
    color:#7b7b7b;
    background: #eaeaea;
}

.THIS .slds-cell-fixed {
    background: #32363f;
}

.THIS .slds-th__action {
    color: #fff !important;
}

.THIS .slds-th__action:hover,
.THIS .slds-th__action:focus,
.THIS .slds-th__action:active,
.THIS .slds-cell-fixed:hover,
.THIS .slds-cell-fixed:focus,
.THIS .slds-cell-fixed:active {
   background: #32363f !important;
}

.THIS .slds-cell-edit {
    background: #fff !important;
}

.THIS .slds-cell-edit:hover,
.THIS .slds-cell-edit:focus,
.THIS .slds-cell-edit:active{
    outline: 0 !important;
}

/* Page Specific */
.THIS .tracker-form h1,
.THIS .tracker-form h2{
    color: #7b7b7b;
    font-size: 2em;
    font-weight: normal;
    margin: 0 !important;
}

.THIS .tracker-form .header .comm-layout-column{
	padding: 35px 0 !important;
}

.THIS .tracker-form .header h1{
    font-size: 3em;
}

.THIS .tracker-form .forceCommunityContactSupportForm {
    background: #fff;
    padding-bottom: 20px;
}

.THIS .tracker-form .slds-truncate {
    text-align: left;
    padding-bottom: 25px;
    color: #7b7b7b;
    background: #f0f0f0;
}

.THIS .tracker-form .slds-section {
	margin-top: 0;
    margin-bottom: 20px;
}

.THIS .tracker-form .slds-section .container{
    padding: 0;
    width: 100%;
    background: #fff;
    padding-top: 20px;
}


.THIS .tracker-form #submitButton {
	padding-bottom: 0;
    padding-left: 15px;
}

