/** SASS Customer Self Service styles **/

.THIS h2{
    color: #7b7b7b;
    font-size: 2em;
}

.THIS .header{
    color:#fff;
    background: #009adb;
}

.THIS .stats{
    color:#7b7b7b;
    background: #eaeaea;
}

.THIS .slds-main-content {
    background: none;
}

.THIS .slds-main-content .comm-layout-column > .siteforceDesignTimeRegion .ui-widget:last-child{
    background: #ffffff;
    padding: 20px;
}

.THIS .slds-cell-fixed {
    background: #32363f;
}

.THIS .slds-th__action {
    color: #fff !important;
}

.THIS .slds-th__action:hover,
.THIS .slds-th__action:focus,
.THIS .slds-th__action:active,
.THIS .slds-cell-fixed:hover,
.THIS .slds-cell-fixed:focus,
.THIS .slds-cell-fixed:active {
   background: #32363f !important;
}

.THIS .slds-cell-edit {
    background: #fff !important;
}


.THIS .slds-cell-edit:hover,
.THIS .slds-cell-edit:focus,
.THIS .slds-cell-edit:active{
    outline: 0 !important;
}






