/** SASS Customer Self Service styles **/

/*
.THIS .tracker-form{
	background: #ffffff;
}
*/

/* Page Specific */
.THIS .tracker-form h2{
    font-size: 2.3em;
    font-weight: normal;
    margin: 0 !important;
}

.THIS .tracker-form .header .comm-layout-column{
	padding: 35px 0 !important;
}

/*
.THIS .tracker-form .header h1{
    font-size: 3em;
}

.THIS .tracker-form .slds-truncate {
    text-align: left;
    padding-bottom: 20px;
}
*/


.THIS .tracker-form .forceCommunityContactSupportForm {
    padding-bottom: 20px;
}

.THIS .tracker-form .forceCommunityContactSupportForm .slds-truncate {
    text-align: left;
    padding-top:15px;
    padding-bottom:25px;
}

.THIS .tracker-form .forceCommunityContactSupportForm .slds-truncate h1 {
    width: 100%;
    margin-bottom: 20px !important;
}

.THIS .tracker-form .forceCommunityContactSupportForm .slds-truncate span {
    padding: 20px;
    background-color: #fafaf9;
    color: #333;
    border: 2px solid #eaeaea;
    border-radius: 6px;
    display: block;
    width: 480px;
}


.THIS .tracker-form .forceCommunityContactSupportForm > .slds-section {
	margin-top: 0;
    margin-bottom:0;
    background: #fff;
    border-radius:0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	padding: 15px;
    width: 480px;
}



.THIS .tracker-form .forceQuickActionLayout .forceRecordLayout {
    padding-top: 20px;
}
/*
.THIS .tracker-form .slds-form .mdp {
	background-color: #fafaf9;
}


.THIS .tracker-form .slds-form .mdp {
	background: #fafaf9;
    padding: 20px;
}
*/

.THIS .tracker-form .slds-section .slds-hint-parent {
    padding:0
}

.THIS .tracker-form .slds-section .container{
    padding: 0;
    width: 100%;
}

.THIS .tracker-form .forcePageBlockSectionRow,
.THIS .tracker-form .slds-p-horizontal_medium{
    margin-bottom: 25px;
    padding:0;
}

.THIS .tracker-form .slds-p-horizontal_medium{
	margin-left: 10px;
    margin-bottom: 0;
    position:relative;
}

.THIS .tracker-form .slds-p-horizontal_medium ul {
    padding-top: 60px;
    padding-right: 10px;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li{
	border: none;
    padding: 0;
    margin: 0;
    background: #fafaf9;
    border-radius: 0;
    margin-bottom:10px;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li:last-child{
    margin-bottom:0;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge{
	padding: 0;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space{
	display: block;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space .slds-pill__icon_container{
	overflow: visible;
    height: 100%;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space .slds-pill__icon_container span{
	width: 80px;
    height: 80px;
    display: block;
    float: left;
    overflow: hidden;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space .slds-pill__icon_container span img{
	width: 80px;
    height: auto;
    max-width: 100%;
    max-height: initial;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space .slds-pill__icon_container span .slds-icon{
	width: 80px;
    height: 80px;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space > .slds-col{
	display: none;
}

.THIS .tracker-form .slds-p-horizontal_medium ul li .forceChatterSelectedFileBadge .slds-no-space .slds-pill__icon_container .thumbnailContainer{
	padding: 0;
}

.THIS .tracker-form .slds-p-horizontal_medium > .slds-button{
    position: absolute;
    top: 0;
}

.THIS .tracker-form .forcePageBlockSectionRow:last-child {
    margin-bottom: 0;    
}

.THIS .tracker-form .inputLabel {
	font-size: 18px;
    overflow: hidden;
    margin-bottom:10px;
    width:100%;
    display: block;
}


.THIS .tracker-form .inputLabel span:first-child{
	float:left;
}

.THIS .tracker-form .inputLabel span{
	font-weight: bold;
}

.THIS .tracker-form .inputLabel span.required{
    margin-left:5px;
    color: red;
}

.THIS .tracker-form .uiInput--select .uiPopupTrigger a,
.THIS .tracker-form .uiInput--input .input, 
.THIS .tracker-form .uiInput--input.input{
    font-size: 16px;
    clear: both;
    border: none;
    border-radius: 0;
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,#D4D4D4);
    color: #32363f;
    padding: 15px 0;
    height: initial !important;
    min-height: initial !important;
    line-height: initial !important;
}
            
.THIS .tracker-form .uiInput--select .uiPopupTrigger a:focus,
.THIS .tracker-form .uiInput--select .uiPopupTrigger a:active,
.THIS .tracker-form .uiInput--select .uiPopupTrigger a:visited,
.THIS .tracker-form .uiInput--input .input:focus, 
.THIS .tracker-form .uiInput--input .input:active, 
.THIS .tracker-form .uiInput--input .input:visited,
.THIS .tracker-form .uiInput--input.input:focus,
.THIS .tracker-form .uiInput--input.input:active,
.THIS .tracker-form .uiInput--input.input:visited{
    box-shadow: none;
}

.THIS .tracker-form .uiInput--select.select, 
.THIS .tracker-form .uiInput--select .select, 
.THIS .tracker-form .uiInput--select .uiPopupTrigger a {
    padding-left: 15px;
}

.THIS .tracker-form .uiInput--select.select[disabled], 
.THIS .tracker-form .uiInput--select .select[disabled], 
.THIS .tracker-form .uiInput--select .uiPopupTrigger a[aria-disabled="true"] {
    background-color: transparent !important;
}
            
.THIS .tracker-form .uiInputSelect > .uiMenu.disabled {
    background: #fafaf9;
    opacity: 0.5;
}

/*
.THIS .tracker-form .uiInputSelect>.uiMenu, 
.THIS .tracker-form .uiInputSelect.uiMenu,
.THIS .tracker-form .uiInput--input .input{
    margin-top:10px;
}
            
.THIS .tracker-form .uiInputSelect .disabled{
    margin-top:20px;
}
*/

.THIS .tracker-form .case-description{
    min-height: 160px;
    margin-top:10px;
    font-size: 16px;
}
    

.THIS .tracker-form #submitButton {
	padding: 40px;
    padding-top: 0;
    padding-left: 0;
    background: #fff;
    border-radius:0;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 480px;
}

            
.THIS .tracker-form #submitButton button{
	border-radius: 40px;
    font-size: 1.3em;
    font-family: "HelveticaNeueW01-Thin"!important;
    margin-left: 20px;
    background: #00597c;
    border: 2px solid #00597c;
}
            
.THIS .tracker-form .forceCommunityContactSupportForm .forceCommunityContactSupportConfirmation:last-child {
    background: #fff;
    padding: 20px;
    border: none;          
}
            
.THIS .tracker-form .pageLevelErrors {
	pointer-events: none;
}

.THIS .tracker-form .forcePageError {
	border: 0;
    padding:0;
}
            
.THIS .tracker-form .forcePageError.desktop .genericNotification {
	color: rgb(194, 57, 52);
	background:none;
    font-weight: bold;
    padding: 20px 0
}
            
.THIS .tracker-form .forcePageError.desktop ul{
	padding: 20px;
    background: rgb(194, 57, 52);
    color: #fff;
}
            
.THIS .tracker-form .forceCommunityContactSupportConfirmation .requestSummaryHeader {
    font-size: 1.5em !important;
    padding-bottom: 10px;
    font-weight: bold !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;           
}
            
.THIS .tracker-form .forceCommunityContactSupportConfirmation .requestSummaryBody {
    width: 10%;            
    padding: 0;
}