/** SASS Customer Self Service styles **/

/*
.THIS .tracker-form{
	background: #ffffff;
}
*/

/* Page Specific */
.THIS .tracker-form h2{
    font-size: 2.3em;
    font-weight: normal;
    margin: 0 !important;
}

.THIS .tracker-form .header .comm-layout-column{
	padding: 35px 0 !important;
}

/*
.THIS .tracker-form .header h1{
    font-size: 3em;
}

.THIS .tracker-form .slds-truncate {
    text-align: left;
    padding-bottom: 20px;
}
*/


.THIS .tracker-form .forceCommunityContactSupportForm {
    padding-bottom: 20px;
}

.THIS .tracker-form .forceCommunityContactSupportForm .slds-truncate {
    text-align: left;
    padding-top:15px;
    padding-bottom:25px;
}

.THIS .tracker-form .forceCommunityContactSupportForm .slds-truncate h1 {
    width: 100%;
    margin-bottom: 20px !important;
}

.THIS .tracker-form .forceCommunityContactSupportForm .slds-truncate span {
    padding: 20px;
    background-color: #fafaf9;
    color: #333;
    border: 2px solid #eaeaea;
    border-radius: 6px;
    display: block;
}


.THIS .tracker-form .forceCommunityContactSupportForm > .slds-section {
	margin-top: 0;
    margin-bottom:0;
    background: #fff;
    border-radius:0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	padding: 15px;
    padding-top: 30px;
}

/*
.THIS .tracker-form .slds-section .mdp {
    padding:0;
}

.THIS .tracker-form .slds-form .mdp {
	background-color: #fafaf9;
}


.THIS .tracker-form .slds-form .mdp {
	background: #fafaf9;
    padding: 20px;
}
*/

.THIS .tracker-form .slds-section .slds-hint-parent {
    padding:0
}

.THIS .tracker-form .slds-section .container{
    padding: 0;
}

.THIS .tracker-form .forcePageBlockSectionRow,
.THIS .tracker-form .slds-p-horizontal_medium{
    margin-bottom: 25px;
    padding:0;
}

.THIS .tracker-form .slds-p-horizontal_medium{
	margin-left: 212px;
    margin-bottom: 0;
}

.THIS .tracker-form .forcePageBlockSectionRow:last-child {
    margin-bottom: 0;    
}

.THIS .tracker-form .inputLabel {
	width: 200px;
	display:block;
	font-size: 18px;
    float: left !important;
    overflow: hidden;
}

.THIS .tracker-form .inputLabel span:first-child{
	float:left;
}

.THIS .tracker-form .inputLabel span.required{
    margin-left:5px;
    color: red;
}

.THIS .tracker-form .uiInput--select .uiPopupTrigger a,
.THIS .tracker-form .uiInput--input .input, 
.THIS .tracker-form .uiInput--input.input{
    font-size: 16px;
    width: 400px;
    clear: both;
    border: none;
    border-radius: 0;
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,#D4D4D4);
    color: #32363f;
    padding: 10px 0;
    height: initial !important;
    min-height: initial !important;
    line-height: initial !important;
    display: inline-block;
}
            
.THIS .tracker-form .uiInput--select .uiPopupTrigger a:focus,
.THIS .tracker-form .uiInput--select .uiPopupTrigger a:active,
.THIS .tracker-form .uiInput--select .uiPopupTrigger a:visited,
.THIS .tracker-form .uiInput--input .input:focus, 
.THIS .tracker-form .uiInput--input .input:active, 
.THIS .tracker-form .uiInput--input .input:visited,
.THIS .tracker-form .uiInput--input.input:focus,
.THIS .tracker-form .uiInput--input.input:active,
.THIS .tracker-form .uiInput--input.input:visited{
    box-shadow: none;
}

.THIS .tracker-form .uiInput--select.select, 
.THIS .tracker-form .uiInput--select .select, 
.THIS .tracker-form .uiInput--select .uiPopupTrigger a {
    padding-left: 10px;
}

.THIS .tracker-form .uiInput--select.select[disabled], 
.THIS .tracker-form .uiInput--select .select[disabled], 
.THIS .tracker-form .uiInput--select .uiPopupTrigger a[aria-disabled="true"] {
    background-color: #fafaf9 !important;
}

/*
.THIS .tracker-form .uiInputSelect>.uiMenu, 
.THIS .tracker-form .uiInputSelect.uiMenu,
.THIS .tracker-form .uiInput--input .input{
    margin-top:10px;
}
            
.THIS .tracker-form .uiInputSelect .disabled{
    margin-top:20px;
}
*/

.THIS .tracker-form .case-description{
    width: 400px;
    min-height: 160px;
    margin-top:10px;
}
    

.THIS .tracker-form #submitButton {
	padding: 40px;
    padding-left: 0;
    background: #fff;
    border-radius:0;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

            
.THIS .tracker-form #submitButton button{
	border-radius: 40px;
    font-size: 1.3em;
    font-family: "HelveticaNeueW01-Thin"!important;
    margin-left: 228px;
    background: #00597c;
    border: 2px solid #00597c;
}